*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: blue;
    color: white;
    height: 400px;
}
.ko{
    display: flex;
    gap: 15px;
}
a{
  text-decoration: none;
  color: white;
}

.ko img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: white;

}

.tek{
    margin-top: 15px;
}

.tek h1{
    font-size: 20px;
    font-weight: bold;

}

.tek p{
    font-size: 19px;
    font-weight: normal;

    
}
.div1{
    display: flex;
    padding: 30px;
}
.div1 i{
    font-size: 20px;
    padding-top: 10px;
    /* color: white; */
}
.nav1{
    display: flex;
    justify-content: space-between;

}
.nav1 ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding:30px;
    padding-right: 20px;
    /* margin-right: 30px; */
}
.header-content{
    text-align: center;
    padding-bottom: 50px;
    line-height: 1.5;
}
.img-text{
  display: flex;
  gap: 50px;
margin-top: 30px;
align-items: center;
margin-left: 50px;
}
.img-text img{
  height: 300px;
  width: 400px;
  margin-left: 100px;
}
.text {
  height: 400px;
  width: 50%;
  background-color:white;
  padding-top: 30px;
  padding-left: 20px;
  line-height: 1.5;

}

:root{
  --bg:#f5f7f8;
  --card:#ffffff;
  --muted:#6b7280;
  --accent:#0b77d1;
  --shadow: 0 6px 18px rgba(16,24,40,0.08);
  --radius:12px;
  --gap:18px;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.container{
  max-width:1100px;
  margin:40px auto;
  padding:20px;
}

.hero{
  background:var(--card);
  border-radius:12px;
  padding:28px;
  text-align:center;
  box-shadow:var(--shadow);
  margin-bottom:28px;
}

.hero h1{
  margin:0 0 10px;
  font-size:28px;
}

.hero p{
  color:var(--muted);
  line-height:1.5;
  max-width:800px;
  margin:0 auto;
}

/* grid */
.lead{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:80px;
  background-color: aliceblue;
}
.sawir img{
  width: 150px;
  height: 150px;
  padding-left: 20px;
  
}
.card{
  display: flex;
  line-height: 1.5;
  gap: 20px;

}
.info{
  padding-top: 30px;
     

}
.num{
  text-align: center;
}

.all-num{
  display: flex;
  gap: 130px;
justify-content: center;
padding-top: 20px

}



.kor h1{
  text-align: center;
  font-size: 40px;
  padding: 30px;
  margin: 30px;
}

.dhaman{
  display: flex;
  gap: 150px;
  margin: 30px;
}


.inside1{
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  padding: 10px;
  margin-left: 30px;
}
.inside2{
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  padding: 10px;
  margin-left: 30px;
}
.inside3{
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
}
.inside4{
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
}
.inside3{
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  padding: 10px;
  margin-left: 30px;
}


.inside1 p{
  font-size: 20px
}
.inside2 p{
  font-size: 20px
}
.inside3 p{
  font-size: 20px
}
.inside4 p{
  font-size: 20px
}

.profile img{
  width: 100px;
  height: 80px;
  border-radius: 50%;
}

.profile{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}




.footer{
  background-color: #0b11d1;
  width: 100%;
  height: 400px;
  color: #f5f7f8;
  padding-bottom:  10px;

}

.last button{
  width: 170px;
  height: 50px;
  background-color: aqua;
  border-radius: 20px;
  font-size: 22px;
  margin-top: 20px;
}
.last {
  display: flex;
  gap: 420px;
  padding: 50px;
  text-align: center;
  padding-top: 90px;
  align-items: center;
}


.rights{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 20px;
}