*{
    margin: 0px;
    padding: 0px;
}

.header{
background-image:  linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url(https://i.pinimg.com/736x/c6/1b/87/c61b874f0374861b4b0bc970741dbe18.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height:550px ;
    color: white;
    
}
.head{
    
    width: 99%;
    display: flex;
    justify-content: space-between;
    
}

.ko{
    display: flex;
    gap: 15px;
}

.ko img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: white;

}

.tek{
    margin-top: 15px;
}

.tek h1{
    font-size: 20px;
    font-weight: bold;

}

.tek p{
    font-size: 19px;
    font-weight: normal;

    
}

.header ul{
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
    
}



.header h2{
   
    margin-top: 70px;
     margin-left: 280px;
     font-size: 60px;
     font-weight: bold;
}
.header h6{
   
    margin-top:15px;
     margin-left: 290px;
     font-weight: normal;
     font-size: 20px;
}
.header button{
 
    margin-top: 20px;
    margin-left: 530px;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    color: #2C7ABE;
    border: none;
}
.pof{
    background-color: white;
    width: 1000px;
    height: 150px;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
}
.pos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  margin-left: 120px;
  margin-top: 50px;
  position: absolute;
  gap: 30px;
  top: 370px;
 
}

.box1{
    
    width: 300px;
    height: 150px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
    border-radius: 10px;
    border: none;
    
}

.box1 i{
margin-left: 130px;
margin-top: 20px;
}

.box1 h1{
    margin-top: 5px;
    margin-left: 10px;
}


.box1 p{
    margin-top: 5px;
    margin-left: 15px;
}

.popular{
    margin-top: 120px;
    justify-content: center;
}

.popular h1{
    margin-top: 50px;
    margin-left: 410px;
    font-weight: bold;
    font-size: 40px;
   
}

.popular p{
    margin-top: 20px;
    margin-left: 410px;
    
}

.ho{
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
    
}

a{
    text-decoration: none;
    color: white;
}
.ru{
      width: 300px;
    height: 350px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
    margin-left: 90px;
    position: relative;
}

.image img{
    width: 300px;
    border-radius: 0px  0px 0px 0px ;
    height: 200px;
}

.text h5{
       margin-top: 20px;
    width: 40px;
    height: 20px;
    color: white;
    background-color: green;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 10px;

}
.text h1{
font-size: 20px;
font-weight: bold;
margin-left: 10px;
margin-top: 10px;
}
.text p{
    margin-left: 10px;
    margin-top: 10px;
}

.text button{
     margin-top: 20px;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    background-color: #2C7ABE;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.profeesional {
     margin-top: 120px;
    
  
}

.profeesional h1{
     margin-top: 50px;
    margin-left: 270px;
    font-weight: bold;
    font-size: 40px;
}

.profeesional p{
     margin-top: 30px;
    margin-left: 360px;
    font-size: 20px;
    font-weight: normal;
}

.lop{
    display: flex;
    gap: 10px;
    margin: 50px;

}

.poki{
    width: 500px;
    height: 600px;
    
}

.poki h1{
    font-size: 20px;
    margin-left: 90px;
    
}

.poki img{
    border-radius: 50%;
    width: 500px;
    height: 600px;
    margin-top: -110px;
}

.qor{
     width: 600px;
    height: 500px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
    background-color: #F9F9F9;
    margin-left: 50px;
    margin-top: 50px;
}

.cas1{
    display: flex;
    gap: 10px;
    
   
}

.cas2{
    display: flex;
    gap: 10px;
    
   
}

.cas3{
    display: flex;
    gap: 10px;
    
   
}

.cas1 h1{
    font-size: 20px;
    margin-left: 20px;

}
.cas1 i{
    margin-top: 60px;
    margin-left: 50px;
}

.cas2 h1{
    font-size: 20px;
    margin-left: 20px;

}
.cas2 i{
    margin-top: 60px;
    margin-left: 50px;
}

.cas3 h1{
    font-size: 20px;
    margin-left: 20px;

}
.cas3 i{
    margin-top: 60px;
    margin-left: 50px;
}



.kio{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.im img{
    width: 200px;
    height: 200px;
}



.kor h1{
  text-align: center;
  font-size: 40px;
  padding: 30px;
  margin: 30px;
}

.dhaman{
  display: flex;
  gap: 150px;
  justify-content: center;
  margin-top: 30PX;
}


.inside1{
  background-color: white;
  width: 400px;
  height: 300px;
 box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
  padding: 10px;
  margin-left: 30px;
}
.inside2{
  background-color: white;
  width: 400px;
  height: 300px;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
  padding: 10px;
  margin-left: 30px;
}
.inside3{
  background-color: white;
  width: 400px;
  height: 300px;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
}
.inside4{
  background-color: white;
  width: 400px;
  height: 300px;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
}



.inside1 h5{
  font-size: 20px;
  margin-top: 30px;
  font-weight: normal;
  
  
}
.inside2 h5{
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;

}
.inside3 h5{
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
}
.inside4 h5{
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
}

.profile img{
  width: 100px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
}

.profile{
  display: flex;
  margin-top: 20px;
  
}
.TEOP{
    margin-left: 20px;
    margin-top: 30px;
}




.footer{
  background-color: #0350C0;
  width: 100%;
  height: 400px;
  color: #f5f7f8;
  padding-bottom: 10px;
  margin-top: 90PX;

}

.last button{
  width: 170px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 22px;
  margin-top: 40px;
  border: none;
}
.last {
 
  padding: 50px;
  text-align: center;
  padding-top: 90px;
  align-items: center;
}
.last p{
    margin-top: 20px;
}


.rights{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

}

.rights p{
  
 margin-left: 50px ;
 font-size: 20px;
 font-weight: normal;


}

.rights h6{
  
 margin-right: 50px ;
 font-size: 20px;
 font-weight: normal;
 

}